.quote {
  @include section;

  font-family: var(--font-family);
  color: var(--primary-color);
  padding-top: 20px;

  @include tablet-landscape {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  &__container {
    @include tablet-landscape {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
    }
  }

  &__image {
    display: block;
    line-height: 0;
    width: 100%;
    max-height: 460px;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    quotes: none;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.26;
    letter-spacing: -0.022em;

    @include tablet-landscape {
      max-width: 470px;
      padding-top: 0;
      font-size: 34px;
      line-height: 1.29;
      letter-spacing: -0.015em;
    }
  }

  &__author {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;

    @include tablet-landscape {
      font-size: 20px;
      line-height: 1.6;
    }
  }

  &__author-profession {
    padding-top: 4px;
    font-size: 10px;
    line-height: 1.6;

    @include tablet-landscape {
      padding-top: 6px;
      font-size: 16px;
      line-height: 1.75;
    }
  }
}
