:root.dark-theme {
  --primary-color: #fff;
  --text-color: #e6e6e6;
  --page-background: #333;
  --divider: #e3e3e3;
  --footer-background: #2f2f2f;

  --btn-primary-bg: #24b47e;
  --btn-primary-bg-hover: #319e75;
  --btn-secondary-bg: #434343;
  --btn-primary-color: #fff;

  --line-pointer: #707070;
  --dot-bg: #cacaca;
  --dot-bg-active: var(--primary-color);

  --input-border: rgba(125, 125, 125, 0.5);
  --input-border-focus: #7d7d7d;
  --placeholder-color: var(--primary-color);

  --copyright-color: #565656;
  --icon-switcher-background: #676767;
  --button-switcher-background: #545454;
}
