:root.dark-theme {
  --primary-color: #fff;
  --text-color: #e6e6e6;
  --page-background: #333;
  --divider: #e3e3e3;
  --footer-background: #2f2f2f;

  --direction-button-background: #434343;

  --line-pointer: #707070;
}
