:root {
  --primary-color: #151515;
  --text-color: #222222;
  --bicycle-title-color: #151515;
  --page-background: #f4f4f4;
  --card-bg: #f4f4f4;
  --divider: #e3e3e3;
  --footer-background: #efefef;

  --btn-primary-bg: #24b47e;
  --btn-primary-bg-hover: #319e75;
  --btn-secondary-bg: #ebebeb;
  --btn-primary-color: #fff;

  --line-pointer: #d7d7d7;
  --dot-bg: #cacaca;
  --dot-bg-active: var(--primary-color);

  --input-border: rgba(199, 199, 199, 0.5);
  --input-border-focus: #c7c7c7;
  --placeholder-color: var(--text-color);

  --copyright-color: #cfcfcf;
  --icon-switcher-background: #cfcfcf;
  --button-switcher-background: #fff;
}
