@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin only-desktop {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin section {
  padding-bottom: 80px;
  background-size: 100% 1px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    transparent var(--content-indent),
    var(--divider) var(--content-indent),
    var(--divider) calc(100% - var(--content-indent)),
    transparent var(--content-indent)
  );

  @include tablet-landscape {
    padding-bottom: 60px;
    background-image: none;
  }
}

@mixin card {
  background: var(--page-background);
  border-radius: 20px;
  box-shadow: 0 0 40px -15px rgba(0, 0, 0, 0.1);
}
