:root {
  --content-indent: 18px;
  --font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 1024px) {
  :root {
    --content-indent: 120px;
  }
}

@font-face {
  src: url(../../assets/fonts/Inter-Bold.woff) format("woff"), url(../../assets/fonts/Inter-Bold.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  src: url(../../assets/fonts/Inter-SemiBold.woff) format("woff"), url(../../assets/fonts/Inter-SemiBold.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 600;
}
@font-face {
  src: url(../../assets/fonts/Inter-Medium.woff) format("woff"), url(../../assets/fonts/Inter-Medium.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 500;
}
@font-face {
  src: url(../../assets/fonts/Inter-Regular.woff) format("woff"), url(../../assets/fonts/Inter-Regular.woff2) format("woff2");
  font-family: "Inter";
  font-weight: 400;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root.dark-theme {
  --primary-color: #fff;
  --text-color: #e6e6e6;
  --page-background: #333;
  --divider: #e3e3e3;
  --footer-background: #2f2f2f;
  --line-pointer: #707070;
}

:root {
  --primary-color: #151515;
  --text-color: #222222;
  --page-background: #f4f4f4;
  --divider: #e3e3e3;
  --footer-background: #efefef;
  --line-pointer: #d7d7d7;
}

.page {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--content-indent);
  padding-left: var(--content-indent);
}

.header {
  min-height: 74px;
  display: flex;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.menu-button {
  all: unset;
  padding: 18px;
  width: 22px;
  height: 19px;
  position: relative;
  cursor: pointer;
  line-height: 0;
  display: flex;
  align-items: center;
}
.menu-button_opened .menu-button__line {
  background-color: transparent;
}
.menu-button_opened .menu-button__line::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.menu-button_opened .menu-button__line::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.menu-button__line {
  display: block;
  position: relative;
  width: 22px;
  height: 3px;
  transition: background-color 0.2s ease;
  background-color: var(--primary-color);
}
.menu-button__line::before, .menu-button__line::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  background-color: var(--primary-color);
}
.menu-button__line::before {
  top: -8px;
}
.menu-button__line::after {
  top: 8px;
}

.section-title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.009em;
  color: var(--primary-color);
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 55px;
    line-height: 1.09;
  }
}

.text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-color);
  opacity: 0.7;
}
@media (min-width: 768px) {
  .text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.promo {
  padding-bottom: 80px;
  background-size: 100% 1px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, transparent var(--content-indent), var(--divider) var(--content-indent), var(--divider) calc(100% - var(--content-indent)), transparent var(--content-indent));
  font-family: var(--font-family);
  color: var(--primary-color);
  padding-top: 40px;
}
@media (min-width: 1024px) {
  .promo {
    padding-bottom: 60px;
    background-image: none;
  }
}
@media (min-width: 1024px) {
  .promo {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .promo__container {
    display: grid;
    grid-template-columns: minmax(300px, 460px) minmax(500px, 1fr);
    grid-template-rows: auto 1fr;
    padding-right: 0;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (min-width: 1024px) {
  .promo__title {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
.promo__image-container {
  position: relative;
  padding-left: 8%;
}
@media (min-width: 1024px) {
  .promo__image-container {
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 1/-1;
    max-width: 100%;
    padding-left: 23.2%;
  }
}
.promo__image {
  display: block;
  line-height: 0;
  width: 100%;
  min-height: 348px;
  max-height: 530px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
@media (min-width: 1024px) {
  .promo__image {
    max-height: 836px;
  }
}
.promo__scroll-box {
  position: absolute;
  top: 43%;
  right: 0;
  bottom: 7%;
  left: 0;
}
.promo__bicycle-image {
  max-width: 100%;
  max-height: 100%;
}
.promo__bicycle-container {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 67%;
  max-width: 340px;
  min-width: 234px;
  position: sticky;
  top: 20px;
  padding: 10px 26px;
  line-height: 0;
  border-radius: 20px;
  text-align: center;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
}
@media (min-width: 1024px) {
  .promo__bicycle-container {
    max-width: 440px;
  }
}
.promo__bicycle-name {
  display: none;
}
@media (min-width: 1440px) {
  .promo__bicycle-name {
    display: flex;
    align-items: center;
    margin: 167px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
  }
}
.promo__bicycle-name::after {
  content: "";
  display: block;
  width: 132px;
  height: 2px;
  background-color: var(--line-pointer);
  margin-left: 20px;
}
.promo__text {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .promo__text {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.promo__button {
  all: unset;
  line-height: 0;
  background-color: #24b47e;
  border-radius: 4px;
  max-width: 284px;
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.46;
  text-align: center;
  letter-spacing: 0.077em;
  color: #fff;
  padding: 14px;
  box-sizing: border-box;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .promo__button {
    max-width: 180px;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    font-size: 14px;
    line-height: 1.29;
  }
}

.quote {
  padding-bottom: 80px;
  background-size: 100% 1px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, transparent var(--content-indent), var(--divider) var(--content-indent), var(--divider) calc(100% - var(--content-indent)), transparent var(--content-indent));
  font-family: var(--font-family);
  color: var(--primary-color);
  padding-top: 20px;
}
@media (min-width: 1024px) {
  .quote {
    padding-bottom: 60px;
    background-image: none;
  }
}
@media (min-width: 1024px) {
  .quote {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .quote__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
.quote__image {
  display: block;
  line-height: 0;
  width: 100%;
  max-height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.quote__content {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote__text {
  quotes: none;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.26;
  letter-spacing: -0.022em;
}
@media (min-width: 1024px) {
  .quote__text {
    max-width: 470px;
    padding-top: 0;
    font-size: 34px;
    line-height: 1.29;
    letter-spacing: -0.015em;
  }
}
.quote__author {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
}
@media (min-width: 1024px) {
  .quote__author {
    font-size: 20px;
    line-height: 1.6;
  }
}
.quote__author-profession {
  padding-top: 4px;
  font-size: 10px;
  line-height: 1.6;
}
@media (min-width: 1024px) {
  .quote__author-profession {
    padding-top: 6px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.trainings {
  font-family: var(--font-family);
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .trainings {
    padding-top: 150px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1024px) {
  .trainings__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 1024px) {
  .trainings__title {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
  }
}
.trainings__image {
  display: block;
  line-height: 0;
  width: 100%;
  max-height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1024px) {
  .trainings__image {
    grid-column: 2/3;
    grid-row: 1/-1;
    max-width: 100%;
  }
}
.trainings__text {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .trainings__text {
    max-width: 460px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.trainings__list {
  display: flex;
  padding: 0 0 20px;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 1024px) {
  .trainings__list {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
  }
}
.trainings__link {
  padding-right: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: var(--primary-color);
  text-decoration: none;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
@media (min-width: 768px) {
  .trainings__link {
    font-size: 18px;
    line-height: 1.56;
  }
}
@media (hover: hover) and (pointer: fine) {
  .trainings__link:hover {
    opacity: 0.75;
  }
}

.footer {
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 25px;
}
@media (min-width: 1024px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
.footer__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}
.footer__form {
  max-width: 360px;
}
.footer__copyright {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #cfcfcf;
}

.form {
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: #efefef;
  padding: 40px 0 100px;
}
@media (min-width: 1024px) {
  .form {
    padding-top: 50px;
  }
}
.form__input-group {
  position: relative;
}
.form__item {
  width: 100%;
  background-color: inherit;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  font-weight: 500;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 2.15;
  padding: 11px 20px;
  transition: opacity 0.3s ease;
}
.form__item::-moz-placeholder {
  color: #222;
  opacity: 0.7;
  -moz-transition: opacity 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease;
}
.form__item:-ms-input-placeholder {
  color: #222;
  opacity: 0.7;
  -ms-transition: opacity 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease;
}
.form__item::placeholder {
  color: #222;
  opacity: 0.7;
  transition: opacity 0.3s ease, color 0.3s ease;
}
.form__item:hover::-moz-placeholder {
  color: var(--primary-color);
  opacity: 1;
}
.form__item:hover:-ms-input-placeholder {
  color: var(--primary-color);
  opacity: 1;
}
.form__item:hover::placeholder {
  color: var(--primary-color);
  opacity: 1;
}
.form__item:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__item:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.form__item:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form__item:focus {
  outline: none;
  border: 1px solid #c7c7c7;
  opacity: 1;
  visibility: visible;
}
.form__item:focus ~ .form__button {
  opacity: 1;
  visibility: visible;
}
.form__button {
  all: unset;
  line-height: 0;
  padding: 0 22px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */